<p>login works!</p>
<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <h3>Login</h3>
            <form>
                <div class="form-group">
                    Email: <br>
                    <input type="text" [(ngModel)]="userpwd.username" name="username"/> <br>
                </div>
                <br>
                <div class="form-group">
                    Password: <br>
                    <input type="password" [(ngModel)]="userpwd.pwd" name="pwd"/> <br>
                </div>
                <br>
                <!--
                <div class="form-group">
                    <input type="date" [(ngModel)]="userobj.userbirthdate"  />
                </div>
                <br>
                <div class="form-group">
                    <input type="number" [(ngModel)]="userobj.userage"/>
                </div>
                <br>
            -->
                <div class="form-group">
                    <input type="submit" (click)="loginfunc()" class="btnSubmit" value="Login" />
                </div>
            </form>
        </div>
        </div>
        </div>